
.navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
  place-content: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  min-height: 70px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.nav-link {
  color: white;
  font-family: nunito;
  padding: 16px;
  transition: 250ms;
  border-radius: 16px;
  text-decoration: none;
}

.nav-link:hover {
  color: #92A8D1;
  background-color: rgba(200,200,200,0.2);
}
