
.navbar{
  display: grid;
  place-content: center;
  gap: 20px;
  height: 50px;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
}

.nav-link{
  color: #DFD4CA;
  font-family: nunito;
}

